@import url("https://fonts.googleapis.com/css2?family=Poller+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif; }

body {
  background-color: #0B1D26;
  color: #FFFFFF;
  position: relative; }

a {
  color: #FFFFFF;
  text-decoration: none; }

.header {
  width: 100%;
  height: 160vh;
  overflow: hidden;
  position: relative;
  z-index: 1; }
  .header__bg {
    position: absolute;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .header__1 {
    z-index: 12;
    top: 90vh; }
  .header__2 {
    z-index: 10;
    top: 0; }
  .header__3 {
    z-index: 7;
    top: -16vh; }
  .header__4 {
    top: 34vh;
    z-index: 11; }
  .header__5 {
    top: 66vh;
    z-index: 11; }
  .header__content {
    position: absolute;
    z-index: 13; }

.content {
  max-width: 1760px;
  height: 100vh;
  margin: 0 auto;
  padding: 0 3rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }
  .content__header {
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .content__body {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .content__logo {
    font-family: "Poller One", cursive;
    text-transform: uppercase;
    font-size: 2rem; }
  .content__navigation {
    width: 283px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .content__account {
    position: relative; }
    .content__account::before {
      content: '';
      position: absolute;
      width: 24px;
      height: 24px;
      left: -30px;
      top: -2px;
      background-image: url("./../img/icons/account.webp"); }

.social {
  position: absolute;
  left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .social__text {
    transform: rotate(90deg);
    margin-bottom: 40px; }
  .social__icon {
    width: 24px;
    height: 24px;
    display: block;
    margin-bottom: 15px; }
    .social__icon--instagram {
      background-image: url("./../img/icons/instagram.webp"); }
    .social__icon--twitter {
      background-image: url("./../img/icons/twitter.webp"); }

.menu {
  position: fixed;
  right: 3rem;
  display: flex;
  flex-direction: column; }
  .menu__item {
    text-align: right;
    padding: 1rem;
    width: 5rem;
    height: 3rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.5);
    border-right: 3px solid rgba(255, 255, 255, 0.5); }
    .menu__item--active, .menu__item:hover {
      color: rgba(255, 255, 255, 0.95);
      border-right: 3px solid rgba(255, 255, 255, 0.95); }

.title__undertitle {
  font-size: 1rem;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 6px;
  text-align: left;
  color: #FBD784;
  position: relative;
  margin-left: 104px;
  text-transform: uppercase; }
  .title__undertitle::before {
    content: '';
    position: absolute;
    border-bottom: 2px solid #FBD784;
    width: 5rem;
    bottom: 10px;
    left: -104px; }

.title__h1 {
  font-family: "Poller One", cursive;
  font-size: 3rem;
  font-weight: 600;
  line-height: 4rem;
  text-align: left;
  margin: 1.5rem 0; }

.title__scrolldown {
  font-size: 1rem;
  font-weight: 700;
  position: relative; }
  .title__scrolldown::after {
    content: '';
    position: absolute;
    right: -19px;
    bottom: 2px;
    border: solid #FFFFFF;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(45deg); }
  .title__scrolldown::before {
    content: '';
    position: absolute;
    right: -21px;
    bottom: 8px;
    width: 9px;
    border: 2px solid #FFFFFF;
    transform: rotate(90deg) translateY(0.5px); }

.main {
  width: 90%;
  margin: 40vh auto 0;
  position: relative;
  margin-top: -40vh;
  z-index: 2; }
  .main__block {
    max-width: 1462px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center; }
  .main__content_wrap {
    flex: 2;
    padding: 80px; }
  .main__image_wrap {
    flex: 1;
    padding: 50px; }
    .main__image_wrap--left {
      order: -1; }
  .main__undertitle {
    font-size: 1rem;
    font-weight: 800;
    line-height: 22px;
    letter-spacing: 6px;
    text-align: left;
    color: #FBD784;
    position: relative;
    margin-left: 104px;
    text-transform: uppercase; }
    .main__undertitle::before {
      content: '';
      position: absolute;
      border-bottom: 2px solid #FBD784;
      width: 5rem;
      bottom: 10px;
      left: -104px; }
  .main__title {
    font-family: "Poller One", cursive;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 50px;
    margin: 30px 0; }
  .main__text {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0px;
    margin-bottom: 20px; }
  .main__readmore {
    font-size: 1rem;
    font-weight: 700;
    position: relative;
    color: #FBD784; }
    .main__readmore::after {
      content: '';
      position: absolute;
      right: -40px;
      bottom: 4px;
      border: solid #FBD784;
      border-width: 0 2px 2px 0;
      padding: 4px;
      transform: rotate(-45deg); }
    .main__readmore::before {
      content: '';
      position: absolute;
      right: -40px;
      bottom: 8px;
      width: 25px;
      border: 1px solid #FBD784; }

.footer {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: stretch; }
  .footer__info {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .footer__text {
    margin-top: 20px; }
  .footer__copyright {
    font-weight: 300;
    font-size: 0.7rem; }
  .footer__navigation {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; }
  .footer__title {
    color: #FBD784;
    font-size: 1rem;
    font-weight: 600;
    line-height: 32px; }
  .footer__link {
    font-size: 1rem;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left; }
