footer.footer
  div.footer__info
    div.footer__logo-wrap
      p.content__logo mntn
      p.footer__text Get out there & discover your next slope, mountain & destination!
    p.footer__copyright Copyright 2020 MNTN, Inc. Terms & Privacy <br> dev by Dim-G
  div.footer__navigation
    p.footer__title More on The Blog
    a.footer__link(href="#") About MNTN
    a.footer__link(href="#") Contributors & Writers
    a.footer__link(href="#") Write For Us
    a.footer__link(href="#") Contact Us
    a.footer__link(href="#") Privacy Policy
  div.footer__navigation
    p.footer__title More on MNTN
    a.footer__link(href="#") The Team
    a.footer__link(href="#") Jobs
    a.footer__link(href="#") Press
