head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  link(rel='stylesheet' href='./css/style.css')
  meta(name='author' content="Dim-G")
  meta(name='description' content='MNTN - Be prepared for the Mountains and beyond!')
  title Mountains and beyond!
