header.header
  img.header__1(src="./img/BG_Content.webp")
  img.header__2(src="./img/BG_Hero.webp")
  img.header__3(src="./img/HG.webp")
  img.header__4(src="./img/MG.webp")
  img.header__5(src="./img/VG.webp")
