header.header
  img.header__bg.header__1(src="./img/BG_Content.webp")
  img.header__bg.header__2(src="./img/BG_Hero.webp")
  img.header__bg.header__3.parallax(src="./img/HG.webp" data-speed="0.2")
  img.header__bg.header__4.parallax(src="./img/MG.webp" data-speed="-0.1")
  img.header__bg.header__5.parallax(src="./img/VG.webp" data-speed="0.1")
  section.header__content.content.blocks-js#block1
    section.content__header
      p.content__logo mntn 
      nav.content__navigation.navigation
        a.navigation__item(href="#") Equipment
        a.navigation__item(href="#") About us
        a.navigation__item(href="#") Blog
      a.content__account(href='#')
        p.account__text Account
    section.content__body
      section.social
        p.social__text Follow us
        a.social__icon.social__icon--instagram(href='#')
        a.social__icon.social__icon--twitter(href='#')
      div.title.parallax(data-speed="0.2")
        p.title__undertitle A Hiking guide
        h1.title__h1 Be prepared for the<br> Mountains and beyond!
        a.title__scrolldown.anchor-js(href="#block2") scroll down slowly
      menu.menu
        a.menu__item.menu__item--active.anchor-js(href="#block1")#anchor1 
          p Start
        a.menu__item.anchor-js(href="#block2")#anchor2
          p 01
        a.menu__item.anchor-js(href="#block3")#anchor3 
          p 02
        a.menu__item.anchor-js(href="#block4")#anchor4
          p 03
