section.main

  div.main__block.main__block--01.blocks-js#block2
    div.main__content_wrap.parallax(data-speed="0.1")
      p.main__undertitle Get started
      h2.main__title What level of hiker are you?
      p.main__text Determining what level of hiker you are can be an important tool when planning future hikes. This hiking level guide will help you plan hikes according to different hike ratings set by various websites like All Trails and Modern Hiker. What type of hiker are you – novice, moderate, advanced moderate, expert, or expert backpacker? 
      a.main__readmore(href="#") read more
    div.main__image_wrap
      img.main__image(src="./img/01.webp")

  div.main__block.main__block--02.blocks-js#block3
    div.main__content_wrap.parallax(data-speed="0.05")
      p.main__undertitle Hiking Essentials
      h2.main__title Picking the right Hiking Gear!
      p.main__text The nice thing about beginning hiking is that you don’t really need any special gear, you can probably get away with things you already have. Let’s start with clothing. A typical mistake hiking beginners make is wearing jeans and regular clothes, which will get heavy and chafe wif they get sweaty or wet.
      a.main__readmore(href="#") read more
    div.main__image_wrap.main__image_wrap--left
      img.main__image(src="./img/02.webp")

  div.main__block.main__block--03.blocks-js#block4
    div.main__content_wrap.parallax(data-speed="0.05")
      p.main__undertitle Where you go is the key
      h2.main__title Understand Your Map and Timing
      p.main__text To start, print out the hiking guide and map. If it’s raining, throw them in a Zip-Lock bag. Read over the guide, study the map, and have a good idea of what to expect. I like to know what my next landmark is as I hike. For example, I’ll read the guide and know that say, in a mile, I make a right turn at the junction.
      a.main__readmore(href="#") read more
    div.main__image_wrap
      img.main__image(src="./img/03.webp")
