doctype html
html
  include ./include/head.pug
  body
    include ./include/header.pug
    include ./include/main.pug
    include ./include/footer.pug
    script(src="./js/parallax.js")
    script(src="./js/smooth-scrolling.js")
    script(src="./js/menu-scrolling.js")
    script(src="./js/test.js")
