@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

$white: #FFFFFF;
$gold: #FBD784;

$font-logo: 'Poller One', cursive;
$font-main: 'Roboto', sans-serif;

@mixin gradient {
  background: linear-gradient(to bottom, rgba(11,29,38,1) 0%, rgba(11,29,38,0.74) 6%, rgba(11,29,38,0.25) 17%, rgba(11,29,38,0.25) 82%, rgba(11,29,38,0.63) 91%, rgba(11,29,38,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b1d26', endColorstr='#0b1d26', GradientType=0 );
}

$mobile: 425px;

* {
  padding: 0; margin: 0;
  box-sizing: border-box;
  font-family: $font-main;
}

body {
  background-color: #0B1D26;
  color: $white;
  position: relative;
}

a {
  color: $white;
  text-decoration: none;
}

.header {
  width: 100%;
  height: 160vh;
  overflow: hidden;
  position: relative;
  z-index: 1;
  @media (max-width: $mobile) {
    height: 100vh;
  }

  &__bg {
    position: absolute;
    width: 100%;
    object-fit: cover;
  }

  &__1 {
    z-index: 12;
    top: 90vh;

    @media (max-width: $mobile) {
      top: inherit;
      bottom: 0;
      height: 25vh;
    }
  }

  &__2 {
    z-index: 10;
    top: 0;
    @media (max-width: $mobile) {

    }
  }

  &__3 {
    z-index: 7;
    top: 0;
    @media (max-width: $mobile) {
      min-height: 50vh;
    }
  }

  &__4 {
    z-index: 11;
    top: 34vh;
    @media (max-width: $mobile) {
      min-height: 70vh;
      top: 35vh;
    }
  }

  &__5 {
    z-index: 11;
    top: 66vh;
    @media (max-width: $mobile) {
      min-height: 50vh;
      top: 50vh;
    }
  }

  &__content {
    position: absolute;
    z-index: 13;
  }
}

.content {
  max-width: 1760px;
  height: 100vh;
  margin: 0 auto;
  padding: 0 3rem;
  position: relative;
  align-items: center;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  &__header {
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $mobile) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__body {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: $mobile) {
      margin-top: 10vh;
      flex-direction: column;
      flex: 0;
    }
  }

  &__logo {
    font-family: $font-logo;
    text-transform: uppercase;
    font-size: 2rem;
    @media (max-width: $mobile) {
      margin-top: 20px;
      font-size: 4vh;
    }
  }

  &__navigation {
    width: 283px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $mobile) {
      width: 100%;
      margin: 5vh 0;
    }
  }

  &__account {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 24px;
      height: 24px;
      left: -30px;
      top: -2px;
      background-image: url("./../img/icons/account.webp");
    }
    @media (max-width: $mobile) {
      position: absolute;
      right: 5vh;
      top: 75px;
    }
  }
}

.navigation {
  &__item {
    text-shadow: 1px 1px 2px black;
  }
}

.social {
  position: absolute;
  left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (max-width: $mobile) {
    width: 100%;
    order: 3;
    left: 0;
    margin-top: 20vh;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
  }
  &__text {
    transform: rotate(90deg);
    margin-bottom: 40px;
    @media (max-width: $mobile) {
      transform: none;
      margin-bottom: 0;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    display: block;
    margin-bottom: 15px;
    @media (max-width: $mobile) {
      margin-bottom: 0;
      margin-left: 3vh;
    }
    &--instagram {
      background-image: url("./../img/icons/instagram.webp");
    }
    &--twitter {
      background-image: url("./../img/icons/twitter.webp");
    }
  }
}

.menu {
  position: fixed;
  right: 3rem;
  width: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (max-width: $mobile) {
    right: 2vh;
    bottom: 10vh;
  }

  &__item {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 2.5rem;
    font-weight: bold;
    color: rgba(255,255,255, 0.5);
    border-right: 3px solid rgba(255,255,255, 0.5);
     & > p {
       padding: 0 10px;
       text-shadow: 1px 1px 2px black;
     }
    &--active, &:hover {
      color: rgba(255,255,255, 0.95);
      border-right: 3px solid rgba(255,255,255, 0.95);
    }
  }
}

.title {

    &__undertitle {
      font-size: 1rem;
      font-weight: 800;
      line-height: 22px;
      letter-spacing: 6px;
      text-align: left;
      color: $gold;
      position: relative;
      margin-left: 104px;
      text-transform: uppercase;
      text-shadow: 1px 1px 1px black;
      @media (max-width: $mobile) {
        font-size: 2vh;
        line-height: 4vh;
      }
      &::before {
        content: '';
        position: absolute;
        border-bottom: 2px solid $gold;
        width: 5rem;
        bottom: 10px;
        left: -104px;
        box-shadow: 1px 1px 1px black;
      }
    }

    &__h1 {
      font-family: $font-logo;
      font-size: 3rem;
      font-weight: 600;
      line-height: 4rem;
      text-align: left;
      margin: 1.5rem 0;
      text-shadow: 1px 1px 2px black;
      @media (max-width: $mobile) {
        font-size: 3vh;
        line-height: 5vh;
      }
    }

    &__scrolldown {
      font-size: 1rem;
      font-weight: 700;
      position: relative;
      text-shadow: 1px 1px 2px black;
        &::after {
          content: '';
          position: absolute;
          right: -19px;
          bottom: 2px;
          border: solid $white;
          border-width: 0 3px 3px 0;
          display: inline-block;
          padding: 4px;
          transform: rotate(45deg);
          box-shadow: 1px 1px 2px black;
        }
        &::before {
          content: '';
          position: absolute;
          right: -21px;
          bottom: 8px;
          width: 9px;
          border: 2px solid $white;
          transform: rotate(90deg) translateY(1px);
        }
        @media (max-width: $mobile) {
          font-size: 2vh;
          line-height: 5vh;
        }
    }
}

.main {
  width: 90%;
  position: relative;
  margin: -40vh auto 0;
  z-index: 2;
  @media (max-width: $mobile) {
    z-index: 0;
    margin: 0;
    width: 100%;
  }

  &__block {
    max-width: 1462px;
    width: 100%;
    max-height: 90vh; //for js
    margin: 20vh auto;
    padding: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    @media (max-width: $mobile) {
      margin: 0;
      padding: 0;
      position: relative;
      width: 100%;
      height: 100vh;
    }
    &--01 {
      @media (min-width: $mobile) {
        &::after {
          content: "1";
          position: absolute;
          bottom: 0;
          left: 0;
          opacity: 0.2;
          font-size: 60vh;
          font-family: $font-logo;
          z-index: -2;
        }
      }
    }
    &--02 {
      @media (min-width: $mobile) {
        &::after {
          content: "2";
          position: absolute;
          bottom: 0;
          right: 0;
          opacity: 0.2;
          font-size: 60vh;
          font-family: $font-logo;
          z-index: -2;
        }
      }
    }
    &--03 {
      @media (min-width: $mobile) {
        &::after {
          content: "3";
          position: absolute;
          bottom: 0;
          left: 0;
          opacity: 0.2;
          font-size: 60vh;
          font-family: $font-logo;
          z-index: -2;
        }
      }
    }
  }

  &__content_wrap {
    flex: 2;
    padding: 5vh;
    @media (max-width: $mobile) {
      overflow: hidden;
      z-index: 5;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 10vw;
    }
  }

  &__image_wrap {
    flex: 1;
    position: relative;
    &--left {
      order: -1;
      @media (max-width: $mobile) {
        order: inherit;
      }
    }
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(11,29,38,1) 0%, rgba(11,29,38,0.82) 6%, rgba(11,29,38,0.25) 25%, rgba(11,29,38,0.25) 75%, rgba(11,29,38,0.73) 91%, rgba(11,29,38,1) 100%);
    }
    @media (max-width: $mobile) {
      padding: 0;
      position: absolute;
      width: 100%;
    }
  }

  &__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    @media (max-width: $mobile) {
      z-index: -1;
      width: 100%;
    }
  }

  &__undertitle {
    font-size: 1rem;
    font-weight: 800;
    line-height: 22px;
    letter-spacing: 6px;
    text-align: left;
    color: $gold;
    position: relative;
    margin-left: 104px;
    text-transform: uppercase;
    @media (max-width: $mobile) {
      text-shadow: 1px 1px 2px black;
      font-size: 2vh;
      margin: 0;
    }
    &::before {
      content: '';
      position: absolute;
      border-bottom: 2px solid $gold;
      width: 5rem;
      bottom: 10px;
      left: -104px;
      @media (max-width: $mobile) {
        left: -7vw;
        width: 5vw;
        box-shadow: 1px 1px 2px black;
      }
    }
  }

  &__title {
    font-family: $font-logo;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 50px;
    margin: 30px 0;
    @media (max-width: $mobile) {
      text-shadow: 1px 1px 2px black;
      font-size: 3vh;
      margin: 0;
    }
  }

  &__text {
    font-family: $font-main;
    font-size: 1rem;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0px;
    margin-bottom: 20px;
    @media (max-width: $mobile) {
      text-shadow: 1px 1px 2px black;
      font-size: 2vh;
      margin: 0;
    }
  }

  &__readmore {
    font-size: 1rem;
    font-weight: 700;
    position: relative;
    color: $gold;
    @media (max-width: $mobile) {
      text-shadow: 1px 1px 2px black;
      font-size: 2vh;
      margin: 0;
    }
      &::after {
        content: '';
        position: absolute;
        right: -40px;
        bottom: 4px;
        border: solid $gold;
        border-width: 0 2px 2px 0;
        padding: 4px;
        transform: rotate(-45deg);
        @media (max-width: $mobile) {
          right: -25px;
          padding: 2px;
          box-shadow: 1px 1px 2px black;
          bottom: 50%;
          transform: translateY(50%) rotate(-45deg);
        }
      }
      &::before {
        content: '';
        position: absolute;
        right: -40px;
        bottom: 8px;
        width: 25px;
        border: 1px solid $gold;
        @media (max-width: $mobile) {
          right: -25px;
          width: 15px;
          box-shadow: 1px 1px 2px black;
          bottom: 50%;
          transform: translateY(50%);
        }
      }
  }
}

.footer {
  width: 90%;
  margin: 5vh auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @media (max-width: $mobile) {
    height: auto;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  &__info {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: $mobile) {
      margin: 5vh auto 0;
      order: 2;
      flex-basis: 100%;
    }
  }

  &__text {
    margin-top: 20px;
    @media (max-width: $mobile) {
      font-size: 3vw;
      line-height: 3vh;
    }
  }
  &__copyright {
    font-weight: 300;
    font-size: 0.7rem;
    @media (max-width: $mobile) {
      font-size: 3vw;
    }
  }
  &__navigation {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    @media (max-width: $mobile) {
      margin-top: 5vh;
    }
  }
  &__title {
    color: $gold;
    font-size: 1rem;
    font-weight: 600;
    line-height: 32px;
    @media (max-width: $mobile) {
      font-size: 3vw;
      line-height: 3vh;
    }
  }
  &__link {
    font-size: 1rem;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    @media (max-width: $mobile) {
      font-size: 3vw;
      line-height: 3vh;
    }
  }
}
